.game-table-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "top"
        "table"
        "bottom";
    width: 300px;
    
    
}

.user-name-table-one {
    grid-area: top;
    justify-self: center;
    align-self: center;
}

.user-name-table-two {
    grid-area: bottom;
    justify-self: center;
    align-self: center;
}

.user-name-table-three {
    grid-area: button3;
    justify-self: center;
    align-self: center;
}

.user-name-table-four {
    grid-area: button4;
    justify-self: center;
    align-self: center;
}

.join-table-button-1 {
    grid-area: button1;
    width: 50%;
    height: 25%;
    justify-self: center;
    align-self: center;
    background-color: teal;
}

.join-table-button-2 {
    grid-area: button2;
    width: 100%;
    height: 25%;
    justify-self: center;
    align-self: center;
    background-color: teal;
}

.join-table-button-3 {
    grid-area: button3;
    width: 100%;
    height: 25%;
    justify-self: center;
    align-self: center;
    background-color: teal;
}

.join-table-button-4 {
    grid-area: button4;
    width: 50%;
    height: 25%;
    justify-self: center;
    align-self: center;
    background-color: teal;
}

.rectangle-container {
    display: flex;
    width: 350px;
    height: 150px;
    background: teal;
    margin-bottom: 2em;
    justify-content: space-evenly;
}


.score-container {
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 20px;
    border-right: 3px red solid;
}

.value-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 3px red solid;
}

.special-card-container {
    display: flex;
   
    align-content: flex-end;
    gap: 10px;
    
}
.game-table {
    grid-area: table;
    width: 150px;
    height: 200px;
    border: 7px solid black;
    border-radius: 20%;
    background-color: green;
    justify-self: center;
    grid-column: 1 / span 1;
}

.turn-container {
    display: flex;
    
   
}

.top-user-turn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px red solid;
    gap: 10px;
}
.circle {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: white;
}

.green-circle {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: green;
}


.player-cards {
    display: flex;
    gap: 5px;
}

.player-one-hand-container {
    grid-column: 1 / span 1;
    grid-row: 1 / 1;
    justify-self: center;
}
.player-two-hand-container {
        grid-column: 1 / span 1;
        grid-row: 3 / 3;
        justify-self: center;
        
}

.player-two-hand {

    

}

.option-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.special-rank-order-container {
    position: absolute;
    right: 0;
    bottom: 0;
}