body {
    background-color: grey;
}

#userLogo {
    background-color: rgba(255, 255, 255, 0.55);
}

#passwordLogo {
    background-color: rgba(255, 255, 255, 0.55);
}

#confirmPasswordLogo {
    background-color: rgba(255, 255, 255, 0.55);
}

.container-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up-button {
    margin-top: 10px;
}